$bgColor: #ccc;
$txtColor: #9e167e;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {  
  background: $bgColor;  
  h1{
    color: $txtColor;  
    border: 1px solid orange;         
  }  
}